<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Succulents</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
    <header>
        <h2 class="logo">Plant Store</h2>
        <nav class="navigation">
            <a href="#">Home</a>
            <a href="#">About</a>
            <a href="#">Contact</a>
            <a href="http://localhost:3000/succulents">Succulent</a>
            <a href="http://localhost:3000/beddings">Bedding</a>
            <button class="btnLogin-popup">Login</button>
        </nav>
    </header>

        <!--This is will the filter will go -->



        <!--End of filter-->

        <!--grid-->
    
    <div class="container align-content-center">
        <div class="row">
            <div class="col">
                <div class="align-content-center">
                    <a href="plant?img=goldenbarrowlcatuse">
                        <img class = "rounded mx-auto d-block" id="Golden-Barrowl" src="../img/succulent/goldenbarrowlcatuse.jpg" alt="Golden Barrow Cactuse"  height="350" width= "400">
                    </a>   
                    <h1 class="text-center">Goldon Barrow Catuse</h1>
                    <h2 class="text-center">Price: $6.00</h2>
                </div>
            </div>
            <div class="col">
                <div class="align-content-center">
                    <a href="plant?img=propellersucculent" >
                        <img class = "rounded mx-auto d-block" src="../img/succulent/propellersucculent.jpg" alt="Propeller Succulents"  height="350" width= "400">
                    </a>
                    <h1 class="text-center">Propeller Succulents</h1>
                    <h2 class="text-center">Price: $8.00</h2>
                </div>
            </div>
            <div class="col">
                <div class="m-2 align-content-center">
                    <div>
                        <img class = "rounded mx-auto d-block" src="../img/succulent/campfire.jpg" alt="Camp Fire" height="350" width= "400">
                    </div>
                    <h1 class="text-center">Camp Fire</h1>
                    <h2 class="text-center">Price: $4.00</h2>
                </div>
            </div>
                
        </div>

        <div class="row">
            <div class="col-lg-auto col-md-auto col-sm-auto">
                <div class="m-2 align-content-center">
                    <div>
                        <img class = "rounded mx-auto d-block" src="../img/succulent/jade.jpg" alt=">Jade" height="350" width= "400">
                    </div>
                    <h1 class="text-center">Jade</h1>
                    <h2 class="text-center">Price: $4.00</h2>
                </div>
            </div>
            <div class="col">
                <div class="m-2 align-content-center">
                    <img class = "rounded mx-auto d-block" src="../img/succulent/echeveria.jpg" alt=">Echeveria" height="350" width= "400">
                    <h1 class="text-center">Echeveria</h1>
                    <h2 class="text-center">Price: $6.00</h2>
                </div>
            </div>
            <div class="col">
                <div class="m-2 align-content-center">
                    <div>
                        <img class = "rounded mx-auto d-block" src="../img/succulent/stringoftears.jpg" alt="String of Perls" height="350" width= "400">
                    </div>
                    <h1 class="text-center">String of Perls</h1>
                    <h2 class="text-center">Price: $10.00</h2>
                </div>
            </div>
                
        </div>

        <div class="row">
            <div class="col">
                <div class="m-2 align-content-center">
                    <div>
                        <img class = "rounded mx-auto d-block"  src="../img/succulent/iceplant.jpg" alt="Ice Plant" height="350" width= "400"">
                    </div>
                    <h1 class="text-center">Ice Plant</h1>
                    <h2 class="text-center">Price: $4.00</h2>
                </div>
            </div>
            <div class="col">
                <div class="m-2 align-content-center">
                    <div>
                        <img class = "rounded mx-auto d-block" src="../img/succulent/rubyneckless.jpg" alt="Ruby Neckless" height="350" width= "400"">
                    </div>
                    <h1 class="text-center">Ruby Neckless</h1>
                    <h2 class="text-center">Price: $10.00</h2>
                </div>
            </div>
            <div class="col">
                <div class="m-2 align-content-center">
                    <div>
                        <img class = "rounded mx-auto d-block"  src="../img/succulent/badhairday.jpg" alt="Bad Hair Day" height="350" width= "400"">
                    </div>
                    <h1 class="text-center">Bad Hair Day</h1>
                    <h2 class="text-center">Price: $35.00</h2>
                </div>
            </div>
                
        </div>

        <div class="row">
            <div class="col">
                <div class="m-2 align-content-center">
                    <div>
                        <img class = "rounded mx-auto d-block" src="../img/succulent/aeoniumblackrose.jpg" alt="Aeonium Black Rose" height="350" width= "400"">
                    </div>
                    <h1 class="text-center">Aeonium Black Rose</h1>
                    <h2 class="text-center">Price: $5.00</h2>
                </div>
            </div>
            <div class="col">
                <div class="m-2 align-content-center">
                    <div>
                        <img class = "rounded mx-auto d-block" src="../img/succulent/sansevieria.jpg" alt="Sanservieria" height="350" width= "400"">
                    </div>
                    <h1 class="text-center">Sanservieria</h1>
                    <h2 class="text-center">Price: $8.00</h2>
                </div>
            </div>
            <div class="col">
                <div class="m-2 align-content-center">
                    <div>
                        <img class = "rounded mx-auto d-block" src="../img/succulent/mangava.jpg" alt="Mangava" height="350" width= "400"">
                    </div>
                    <h1 class="text-center">Mangava</h1>
                    <h2>Price: $35.00</h2>
                </div>
            </div>
                
        </div>

        <div class="row">
            <div class="col">
                <div class="m-2 align-content-center">
                    <div>
                        <img class = "rounded mx-auto d-block" src="../img/succulent/decrativealo.jpg" alt="Decrative Alo" height="350" width= "400"">
                    </div>
                    <h1 class="text-center">Decrative Alo</h1>
                    <h2 class="text-center">Price: $6.00</h2>
                </div>
            </div>
            <div class="col">
                <div class="m-2 align-content-center">
                    <div>
                        <img class = "rounded mx-auto d-block" src="../img/succulent/medusa.jpg" alt="Medusa" height="350" width= "400"">
                    </div>
                    <h1 class="text-center">Medusa</h1>
                    <h2 class="text-center">Price: $5.00</h2>
                </div>
            </div>
            <div class="col">
                    <div class="align-content-center">
                        <img class = "rounded mx-auto d-block" src="../img/succulent/echeveriacancan.jpg" alt="Echevena Can Can"   height="350" width= "400"">
                    </div>
                    <h1 class="text-center">Echevena Can Can</h1>
                    <h2 class="text-center">Price: $6.00</h2>
                
            </div>
                
        </div>

        <div class="row">
            <div class="col">
                <div class="m-2 align-content-center">
                    <div>
                        <img class = "rounded mx-auto d-block" src="../img/succulent/crownofthorns.jpg" alt="Crown of Thorns"   height="350" width= "400"">
                    </div>
                    <h1 class="text-center">Crown of Thorns</h1>
                    <h2 class="text-center">Price: $10.00</h2>
                </div>
            </div>

            <div class="col">
                <div class="m-2 align-content-center">
                    <div>
                        <img class = "rounded mx-auto d-block" src="../img/succulent/stringoftears.jpg" alt="string of Tears"   height="350" width= "400"">
                    </div>
                    <h1 class="text-center">String of Tears</h1>
                    <h2 class="text-center">Price: $10.00</h2>
                </div>
            </div>
        </div>
        <!--End Grid-->
    </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    





</body>
</html>